Catalog {background-color: rgb(124, 228, 111) font-family: Verdana, Times, sans-serif;}

Book, Title, Author, Publisher, Page { display: block; }

Book:nth-child(even) { background-color: skyblue; }

Title { font-weight: bold; color: rgb(32, 80, 236); font-size: 2em; }
 
Author { font-weight: bold; font-style:italic; font-size: 1.3em;}

Publisher { font-style:italic; font-size: 1.3em; }

Page { font-weight: bold; color: red; font-size: 1.8em; }