body {
    background-image: url(homework3.jpg);
    background-position: 5px;
    background-size: cover;
    background-color: rgb(83, 186, 245);
}

img {
    margin: 8px;
    width: 165px;
}

h1 {
    text-align: center;
    font-style: italic;
    color: rgb(188, 226, 51);
}

h2 {
    text-align: center;
    font-weight: bold;
    color: chartreuse;
}

h3 {
    font-weight: bold;
    color: rgb(200, 68, 218);
}

footer {
    text-align: center;
    color: rgb(225, 225, 236);
}

li,
a:hover {
    color: rgb(217, 228, 72);
    transition: 0.5s;
}

p:hover {
    color: rgb(243, 247, 35);
}

hr {
    background-color: rgb(237, 240, 223);
    border-color: red;
    border-style: dotted;
    border-top-right-radius: 90%;
    border-top-left-radius: 90%;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 90%;
    border-width: 1px;
    width: 97%;
}
