Menber {background-color: rgb(124, 228, 111); Font-family: Verdana, Times, sans-serif;}

Name, Age, Job, Date, Phone { display: block; }

Prod:nth-child(even) { background-color: skyblue;}

Name { font-weight: bold; color: rgb(32, 80, 236); font-size: 1.3em;}

Age { font-weight: bold; color: Black; font-size: 1.0em;}

Job{ font-weight: bold; font-style:italic; font-size: 1.3em;}

Date { font-style:italic; font-size: 1.3em; }

Phone{ font-style:italic; font-size: 1.3em; }

Loc { font-weight: bold; color: red; font-size: 1.5em; }