body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(MODD.jpg);
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    background-size: cover;
    background-position: 100;
}

.logo img {
    margin: 20px;
    padding: 15px 25px;
    width: 238;
}

.it {
    margin: 5px;
    padding: 10px 10px;
    width: 150px;
    height: 150px;
    background-color: rgba(222, 227, 238, 0.87);
}

.it:hover {
    border: 3px solid rgb(250, 247, 247);
    background-color: rgba(30, 119, 235, 0.87);
    margin: 20px;
    padding: 15px 15px;
    width: 218px;
    transition: all 0.3s ease-in;
}

.container {
    float: right;
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid rgb(250, 247, 247);
    width: 780px;
    height: 10;
    background-color: rgba(86, 29, 243, 0.87);
}

.container1 {
    float: right;
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid rgb(250, 247, 247);
    width: 780px;
    height: 10;
    background-color: rgba(240, 49, 183, 0.87);
}

.profile {
    float: left;
    margin: 45px;
    border: 3px solid rgb(250, 247, 247);
    width: 330px;
    background-color: rgba(236, 55, 55, 0.87);
}

.containerV {
    margin-top: 50px;
    padding: 8px 25px;
    border: 3px solid rgb(250, 247, 247);
    width: 400px;
    background-color: rgba(132, 236, 34, 0.87);
}

video {
    margin: 10px;
    margin-left: 20px;
    padding: 8px 25px;
    width: 288px;
    background-color: rgba(54, 136, 243, 0.87);
}

h1 {
    font-size: 60px;
    color: white;
}

h2 {
    font-size: 35px;
    color: rgb(241, 146, 21);
}

h3 {
    font-size: 25px;
    color: hsl(189, 86%, 54%);
    text-align: center;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}

h4 {
    font-size: 20px;
    color: hsl(189, 86%, 54%);
    text-align: center;
}

a,
dl {
    flex-grow: 40;
    font-size: 30px;
    color: rgb(233, 230, 60);
}

tr,
li {
    font-size: 25px;
    color: rgb(218, 207, 233);
    inset-inline-start: rgb(20, 8, 182);
}

.main-nav {
    display: inline-block;
    background-color: rgb(240, 211, 211);
}

.btn {
    margin: 50px;
    border: 3px solid rgb(214, 233, 50);
    padding: 10px 30px;
    font-size: 13px;
    color: rgb(209, 22, 22);
    background-color: rgb(233, 170, 93);
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

.btn-one:hover,
.btn-two:hover {
    border: 3px solid rgb(238, 15, 27);
    background-color: rgb(116, 230, 10);
    transition: all 0.3s ease-in;
}

.btn-three {
    float: left;
    margin: 130px;
    border: 3px solid rgb(214, 233, 50);
    padding: 10px 30px;
    font-size: 13px;
    color: rgb(209, 22, 22);
    background-color: darkorange;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

.jt {
    position: relative;
    font-size: 4vmin;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-display: swap;
}

.jt__row {
    display: block;
}

.jt__row:nth-child(1) {
    clip-path: polygon(0% 75%, 100% 75%, 100% 100%, 0% 100%);
}

.jt__row:nth-child(2) {
    clip-path: polygon(0% 50%, 100% 50%, 100% 75.5%, 0% 75.5%);
}

.jt__row:nth-child(3) {
    clip-path: polygon(0% 25%, 100% 25%, 100% 50.5%, 0% 50.5%);
}

.jt__row:nth-child(4) {
    clip-path: polygon(0% 0%, 100% -10%, 100% 35.5%, 0% 25.5%);
}

.jt__row:nth-child(5) {
    clip-path: polygon(0% -25%, 100% -45%, 100% -9.5%, 0% 0.5%);
}

.jt__row:nth-child(6) {
    clip-path: polygon(0% -50%, 100% -85%, 100% -44.4%, 0% -24.5%);
}

.jt__row.jt__row--sibling {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.jt__text {
    display: block;
    transform-origin: bottom center;
    animation: moveIn 2s cubic-bezier(.36, 0, .06, 1) alternate infinite;
}

.jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
}

.jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
}

.jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2) rotate(-1deg);
}

.jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3) rotate(-2deg);
}

.jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4) rotate(-3deg);
}

.jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5) rotate(-4deg);
}

@keyframes moveIn {
    100%,
    100% {
        transform: translateY(0em)
    }
}

.debug .jt__row:nth-child(even) {
    color: black;
    background: white;
}

.debug .jt__row:nth-child(odd) {
    color: white;
    background: black;
}

* {
    box-sizing: border-box
}
