body {
    background-color: #CCFFFF;
}

#wrapper {
    width: 85%;
    min-width: 760px;
    margin: 0 auto;
    border: 2px solid blue;
    background-color: #fff;
    padding: 10px 5px 0;
}

h1 {
    color: #330066;
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    letter-spacing: 5px;
    text-align: center;
}

b {
    font-size: 40px;
    color: red;
}

img {
    width: 150px;
    height: 140px;
    margin-right: 20px;
    float: left;
}

.main-nav {
    margin: 0% 0% 0% 32%;
    width: 400px;
    font-size: 13px;
}

.btn {
    background-color: red;
    width: 100px;
}

.btn:hover {
    border-radius: 40px 10px;
    background-color: rgb(116, 230, 10);
    transition: all 0.3s ease-in;
}

#footer {
    clear: both;
    text-align: center;
    background-color: red;
    height: 60px;
    font-weight: bold;
    color: white;
}

.footer-link {
    color: white;
    padding: 23px 0px;
}