header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(img9.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo img {
    float: left;
    margin: 20px;
    padding: 15px 25px;
    width: 210px;
    height: auto;
}

.logo img:hover {
    border: 3px solid rgb(250, 247, 247);
    background-color: rgba(230, 10, 10, 0.87);
    transition: all 0.3s ease-in;
}

.form {
    float: right;
    margin: 50px;
    padding: 16px 3px;
    width: 275px;
    height: 5px;
}

.form:hover {
    background: rgb(116, 230, 10);
    transition: all 0.3s ease-in;
}

.new-course {
    position: absolute;
    margin-top: 350px;
    margin-left: 200px;
    width: 580px;
    font-family: monospace;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: rgb(168, 209, 91);
    font-size: 70px;
}

.btn {
    border: 3px solid white;
    margin-left: 5px;
    padding: 10px 30px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.btn-one {
    background-color: darkorange;
    font-family: "Roboto", sans-serif;
}

.btn-one:hover {
    background-color: rgb(116, 230, 10);
    transition: all 0.3s ease-in;
}

.btn-two {
    background-color: darkred;
    font-family: "Roboto", sans-serif;
}

.btn-two:hover {
    background-color: rgb(116, 230, 10);
    transition: all 0.3s ease-in;
}