    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(img4.jfif);
        height: 100vh;
        margin-left: 30px;
        margin-right: 30px;
        background-size: cover;
        background-position: 10;
    }
    
    .logo img {
        float: top;
        margin: 10px;
        padding: 15px 25px;
        width: 238px;
        height: auto;
    }
    
    .logo img:hover {
        border: 3px solid rgb(250, 247, 247);
        background-color: rgba(230, 10, 10, 0.87);
        transition: all 0.3s ease-in;
    }
    
    h1 {
        margin-right: 400px;
        float: right;
        font-size: 60px;
        color: white;
    }
    
    h2 {
        margin-left: 5px;
        font-size: 45px;
        color: rgb(61, 224, 97);
    }
    
    #draggable {
        color: rgb(225, 238, 43);
        border: 3px solid rgb(250, 247, 247);
        background-color: rgba(163, 125, 233, 0.87);
        font-size: 20px;
        width: 600px;
        height: 100px;
    }
    
    table {
        margin: center;
        font-size: 25px;
        color: rgb(70, 245, 27);
        border: 3px solid rgb(250, 247, 247);
        background-color: rgba(163, 125, 233, 0.87);
    }
    
    th {
        text-align: left;
        font-size: 25px;
        color: rgb(219, 238, 49);
        border: 3px solid rgb(240, 239, 243);
        background-color: rgba(90, 35, 241, 0.87);
    }
    
    td {
        margin: center;
        text-align: right;
        border: 1px solid rgb(240, 239, 243);
        color: rgb(213, 241, 50);
    }
    
    .main-nav li {
        display: inline-block;
        background-color: rgb(240, 211, 211);
    }
    
    .btn {
        margin: 50px;
        border: 3px solid rgb(214, 233, 50);
        padding: 10px 30px;
        font-size: 13px;
        color: rgb(209, 22, 22);
        background-color: rgb(233, 170, 93);
        text-transform: uppercase;
        transition: all 0.3s ease-in;
    }
    
    .btn-one:hover {
        border: 3px solid rgb(238, 15, 27);
        background-color: rgb(116, 230, 10);
        transition: all 0.3s ease-in;
    }
